# Ignorowanie plików binarnych i kompilowanych
*.class
*.jar
*.war
*.ear

# Ignorowanie katalogów budowania (Maven, Gradle, IntelliJ, Eclipse, NetBeans)
classes/
generated-sources/
generated-test-sources/
maven-status/
pmd/
surefire-reports/
test-classes/
out/
build/
bin/
dist/
.vs/
target/

# Ignorowanie plików systemowych
.DS_Store
Thumbs.db
*.log

# Ignorowanie ustawień narzędzi IDE (NetBeans, IntelliJ, Eclipse)
.nb-gradle/
.nbproject/private/
nbproject/private/
nbactions.xml
.idea/
*.iml
*.ipr
*.iws

# Ignorowanie plików zależności Maven
/.mvn/
mvnw
mvnw.cmd

# Ignorowanie plików testowych i wyników testów
test-output/
surefire-reports/
jacoco.exec

# Ignorowanie plików tymczasowych
*.swp
*.swo
*.bak
*.tmp
/project1/nbproject/
/ModelProject/nbproject/
*.env